@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Merienda&family=Mr+Dafoe&family=Pacifico&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
nav {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 80px;
   background: rgba(0,0,0,0.4);
   /* padding: 0 50px ; */
   box-sizing: border-box;
   box-shadow: 0 1px 1px rgba(0,0,0,0.12),
   0 2px 2px rgba(0,0,0,0.12),
   0 4px 4px rgba(0,0,0,0.12),
   0 8px 8px rgba(0,0,0,0.12),
   0 16px 16px rgba(0,0,0,0.12);
   z-index: 10;
}

nav .brand{
  float: left;
  height: 100%;
  line-height: 80px;
  display: flex;
}
nav .brand h2{
  margin: 0;
  padding: 0;
  color: #fff;
  padding-left: 50px;
  padding-right: 250px;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}

nav ul{
  float: right;
  display: flex;
  margin:0;
  padding: 0;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  position: relative;
  display: block;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s
}

/* nav ul li a:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: right;
  z-index: -1;
  transform: scaleX(0);
  transition:  transform 0.5s;
} */

nav ul li a:hover{
  color: #262626;
  background-color: white;
  text-decoration: none;
  /* border-radius: 10000px; */
}
.login{
  margin-left: 245px;
}
section.section1{
    width: 100%;
    height: 90vh;
    box-sizing: border-box;
    background-image: url(../image/bg01.jpg);
    background-size: cover;
}
.title-center h2{
    color: #1c1c1c;
    font-weight: 700;
    position: relative;
    text-align: center;
    font-size: 50px;
    border-bottom: 10px solid;
    padding-bottom: 20px;
    margin: 0px 0px 0px 30px;
}
.title h1{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 150px;
  }
.title h6{
   position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    color: #1c1c1c;
}
.title-center{
   width: 200px;
   position: relative;
   left: 42.5%;
   overflow: hidden;
}
.slide{
   /* margin: 0px 20px; */
   width: 186px;
   height: 271px;
}
.slide h3{
   text-align: -webkit-center;
}
/* .slideshow{
   padding: 50px 200px;
   display: flex;
   position: relative;
   ;
} */
/* .slide-wrapper{
 
} */

/* #slideshow {
    overflow: hidden;
    height: 300px;
    width: 728px;
    margin: 0 auto;
    padding-top: 50px;
  }
  
  .slide-wrapper {
    width: 2912px;
    -webkit-animation: slide 14s ease infinite;
  }
  
  .slide {
    float: left;
    height: 300px;
    width: 728px;
  }
  
  
  @-webkit-keyframes slide {
    10% {margin-left: 0px;}
    20% {margin-left: -728px;}
    30% {margin-left: -728px;}
    40% {margin-left: -1456px;}
    50% {margin-left: -1456px;}
  } */
/* .slide-wrapper{
   display: flex;
} */
.images{
   margin-left: 45px;
   display: flex;
}
.image{
   margin: 50px;
   width: 186px;
   height: 271px;
}

.footer {
	background: #F3F6FA;
	padding-top: 70px;
	padding-bottom: 0;
}

.footer__about {
	margin-bottom: 30px;
}

.footer__about ul li {
	font-size: 16px;
	color: #1c1c1c;
	line-height: 36px;
	list-style: none;
}

.footer__about__logo {
	margin-bottom: 15px;
}

.footer__about__logo a {
	display: inline-block;
}

.footer__widget {
	margin-bottom: 30px;
	overflow: hidden;
}

.footer__widget h6 {
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 10px;
}

.footer__widget ul {
	width: 50%;
	float: left;
}

.footer__widget ul li {
	list-style: none;
}

.footer__widget ul li a {
	color: #1c1c1c;
	font-size: 14px;
	line-height: 32px;
}

.footer__widget p {
	font-size: 14px;
	color: #1c1c1c;
	margin-bottom: 30px;
}

.footer__widget form {
	position: relative;
	margin-bottom: 30px;
}

.footer__widget form input {
	width: 100%;
	font-size: 16px;
	padding-left: 20px;
	color: #1c1c1c;
	height: 46px;
	border: 1px solid #ededed;
}

.footer__widget form input::placeholder {
	color: #1c1c1c;
}

.footer__widget form button {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 26px;
	height: 100%;
}

.footer__widget .footer__widget__social a {
	display: inline-block;
	height: 41px;
	width: 41px;
	font-size: 16px;
	color: #404040;
	border: 1px solid #ededed;
	border-radius: 50%;
	line-height: 38px;
	text-align: center;
	background: #ffffff;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	margin-right: 10px;
}

.footer__widget .footer__widget__social a:last-child {
	margin-right: 0;
}

.footer__widget .footer__widget__social a:hover {
	background: #7fad39;
	color: #ffffff;
	border-color: #ffffff;
}

.footer__copyright {
	border-top: 1px solid #ebebeb;
	padding: 15px 0;
	overflow: hidden;
	margin-top: 20px;
}

.footer__copyright__text {
	font-size: 14px;
	color: #1c1c1c;
	float: left;
	line-height: 25px;
}

.footer__copyright__payment {
	float: right;
}
.footer__copyright {
	text-align: center;
}
.footer__copyright__text {
	float: none;
	margin-bottom: 25px;
}
.footer__copyright__payment {
	float: none;
}

/* body {
	font-family: 'Varela Round', sans-serif;
}
.modal-login {
	width: 320px;
}
.modal-login .modal-content {
	border-radius: 1px;
	border: none;
}
.modal-login .modal-header {
	position: relative;
	justify-content: center;
	background: #f2f2f2;
}
.modal-login .modal-body {
	padding: 30px;
}
.modal-login .modal-footer {
	background: #f2f2f2;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
}
.modal-login label {
	font-weight: normal;
	font-size: 13px;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 38px;
	border-radius: 2px; 
}
.modal-login .hint-text {
	text-align: center;
}
.modal-login .close {
	position: absolute;
	top: 15px;
	right: 15px;
}
.modal-login .checkbox-inline {
	margin-top: 12px;
}
.modal-login input[type="checkbox"] {
	position: relative;
	top: 1px;
}
.modal-login .btn {
	min-width: 100px;
	background: #3498db;
	border: none;
	line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #248bd0;
}
.modal-login .hint-text a {
	color: #999;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

#mot{
  position: absolute;
} */